<ul class="profile--info-bar list-group list-group-horizontal-xl mt-5 mb-3">
    <li class="list-group-item">
        <i class="fa fa-tachometer"></i> {{ (profile.data.et - profile.data.st)/1000 }} ms
    </li>
    <li class="list-group-item">
        <i class="fa fa-calculator"></i> {{ (profile.data.ct/1000) }} ms
    </li>
    <li class="list-group-item">
        <i class="fa fa-server"></i> {{ profile.data.sn|upper }}
    </li>
    <li class="list-group-item">
        <i class="fa fa-file-code-o"></i> {{ profile.application.displayPreset.name }}
    </li>
    <li class="list-group-item">
        <i class="fa fa-file"></i> {{ profile.data.fn|slice(-40) }}
    </li>
</ul>