<div class="panel">
    <div class="panel--heading">
        <div class="clearfix">
            <h3 class="panel-title float-left">{{ title }}</h3>
            <div class="float-right">
                {% if topActions is defined %}
                    {% for topAction in topActions %}
                        <a class="btn btn-info" href="{{ path(topAction.path) }}">
                            <span class="fa fa-{{ topAction.icon }}"></span>{{ topAction.key }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel--body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="clearfix">
            <input class="btn btn-primary float-left" type="submit" value="{{ buttonTitle }}"/>
            {% if actionButtons is defined %}
                {% for actionButton in actionButtons %}
                    <a class="float-right {{ actionButton.class }}" href="{{ actionButton.path }}">{{ actionButton.title }}</a>
                {% endfor %}
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>
    {% if footer is defined %}
        <div class="panel--footer">{{ footer }}</div>
    {% endif %}
</div>